sudo: false
language: python
matrix:
  include:
    - dist: trusty
      python: 2.6
    - dist: xenial
      python: 2.7
addons:
  apt:
    packages:
    - scons
cache:
  pip: true
install:
  - export PYTHONPATH=$(echo $(dirname $(which python))/../lib/python*/site-packages)
  - pip install coverage flask
  - git clone --depth=5 https://github.com/salilab/saliweb
  - (cd saliweb && scons modeller_key=UNKNOWN pythondir=$PYTHONPATH perldir=~/perl5/lib/perl5 prefix=~/usr webdir=~/www install && touch $PYTHONPATH/saliweb/frontend/config.py)
script:
  - scons coverage=true python=$(which python) test
after_success:
  - bash <(curl -s https://codecov.io/bash)
  - cover -report codecov
