{% extends "layout.html" %}

{% block title %}ModLoop{% endblock %}

{%- macro help_link(anchor) -%}
<a class="helplink" href="{{ url_for("help", _anchor=anchor) }}"><img class="helplink" src="/saliweb/img/help.jpg" alt="help" /></a>
{%- endmacro %}

{% block body %}
<h2 align="center">ModLoop: Modeling of Loops in Protein Structures</h2>

<form method="post" action="{{ url_for("job") }}"
 enctype="multipart/form-data" name="modloopform">
  <table>
    <tr>
      <td colspan="2">
        <p>ModLoop is a web server for automated modeling of loops in protein
        structures. The server relies on the loop modeling routine in MODELLER
        that predicts the loop conformations by satisfaction of spatial
        restraints, without relying on a database of known protein structures.
        <br />&nbsp;</p>
      </td>
    </tr>
    <tr>
      <td>
        <h3>General information {{ help_link("general") }}</h3>
      </td>
    </tr>
    <tr>
      <td>Email address (optional) {{ help_link("email") }}
      </td>
      <td><input type="text" name="email" value="{{ g.user.email }}" size="5" class="wide" />
      </td>
    </tr>
    <tr>
      <td>Modeller license key {{ help_link("modkey") }}
      </td>
      <td><input type="text" name="modkey" value="{{ g.user.modeller_key }}" size="5" class="wide" />
      </td>
    </tr>
    <tr>
      <td>Upload coordinate file {{ help_link("file") }}
      </td>
      <td><input type="file" name="pdb"  />
      </td>
    </tr>
    <tr>
      <td><h3>Enter loop segments {{ help_link("loop") }}</h3>
      </td>
      <td><textarea name="loops"  rows="10" cols="20" class="loopsegs"></textarea>
      </td>
    </tr>
    <tr>
      <td><h3>Name your model {{ help_link("name") }}</h3>
      </td>
      <td><input type="text" name="name" value="loop" size="9" class="wide" />
      </td>
    </tr>
    <tr>
      <td colspan="2"><center><input type="submit" value="Process" /><input type="reset" value="Reset" /></center><p>&nbsp;</p>
      </td>
    </tr>
  </table>
</form>
{% endblock %}
