body {
  background:white url("bg_3.gif");
  font-family:Arial, Helvetica, sans-serif;
  text-align:left;
  font-size:small;
}

p.queue {
  text-align:center;
}

.error {
  text-align:center;
  color:#AA0000;
  font-size:medium;
}

.submit {
  text-align:center;
  color:#000066;
  font-size:medium;
}

.submitinfo {
  text-align:left;
  color:#000066;
  font-size:medium;
}

body.help {
  background: white;
  font-family: serif;
  text-align:left;
  font-size:medium;
}

td.top {
  vertical-align: top;
  text-align: center;
}

img.pdf {
  border-style: none;
}

a.help {
  color:#800000;
}

p.description {
  margin-left:auto;
  margin-right:auto;
  width:70%;
  color:#000066;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: thin solid #808080;
  border-bottom: thin solid #808080;
}

span.progname {
  font-variant:small-caps;
}

table.center {
  margin-left:auto;
  margin-right:auto;
}
