name: build

on: [push, pull_request]

jobs:
  build:

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04]
        python-version: ['3.6', '3.8', '3.9', '3.10', '3.11']
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      witht:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install coverage scons flask flake8 ihm
        git clone --depth=5 https://github.com/salilab/saliweb
        export PYTHON=`pip show coverage |grep Location|cut -b11-`
        (cd saliweb && scons modeller_key=UNKNOWN pythondir=$PYTHON perldir=~/perl prefix=~/usr webdir=~/www install && touch $PYTHON/saliweb/frontend/config.py)
        rm -rf saliweb
    - name: Test
      run: |
        scons coverage=true python=$(which python) test
        flake8 .
        python -m coverage combine && python -m coverage xml && python -m coverage erase
    - uses: codecov/codecov-action@v3
