name: build

on: [push, pull_request]

jobs:
  build:

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04]
        python-version: [3.6, 3.7, 3.8, 3.9]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install coverage scons flask flake8
        git clone --depth=5 https://github.com/salilab/saliweb
        export PYTHON=`pip show coverage |grep Location|cut -b11-`
        (cd saliweb && scons modeller_key=UNKNOWN pythondir=$PYTHON perldir=~/perl prefix=~/usr webdir=~/www install && touch $PYTHON/saliweb/frontend/config.py)
        rm -rf saliweb
    - name: Test
      run: |
        scons coverage=true python=$(which python) test
        flake8 .
    - name: Upload coverage to codecov
      run: |
        bash <(curl -s https://codecov.io/bash)
